body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ffffff;
  background: rgb(29, 27, 238);
  background: linear-gradient(
    184deg,
    rgb(31, 27, 237) 0%,
    rgb(240, 236, 9) 100%
  );
}

.home {
  display: flex;
  flex-direction: row;
  width: 97%;
  margin: 10px auto;
}
