.home {
  min-width: 90%;
  margin: 50px 15px;
  border: 1px solid #08a322;
  .daily {
    display: flex;
    flex-direction: column;
    border: 1px solid #775208;
    margin: 5px;
  }
}

//LocationModule
.location_div {
  display: flex;
  align-items: center;

  .location_icon {
    width: 25px;
  }
  .location_country {
    font-size: 1.2rem;
    font-weight: bold;
    width: 300px;
  }
}

//Search
.location_search {
  display: flex;
  margin-right: 10px;
  position: relative;
  .location_input {
    width: 200px;
    height: 30px;
    padding: 3px 10px;
    display: flex;
    margin: 25px 5px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.872);
    position: absolute;
    input {
      width: 75%;
      border: none;
      font-size: 1rem;
      background-color: transparent;
      &:focus{
        outline: none;
      }
      &::placeholder {
        font-size: 0.9rem;
      }
    }
  }
  .location_input_icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .location_input_message {
    position: absolute;
    width: 200px;
    display: flex;
    color: red;
    font-size: 0.8rem;
    margin: 65px 25px;
  }
}

